@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css");
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: none;
    font-family: "Roboto", sans-serif;
    overflow-x: hidden;
}

header{
    width: 100vw;
    height: 10vh;
    background-color: rgb(11, 16, 147);
    display: flex;
    gap: 3vw;
    align-items: center;
    justify-content: space-between;
    background-image: url("/static/img/milenasoro.png");
    background-repeat: no-repeat;
    background-size: 20%;
    background-position: 100%;
}

footer{
    width: 100vw;
    height: 10vh;
    background-color: rgb(11, 16, 147);
    display: flex;
    gap: 3vw;
    align-items: center;
    justify-content: space-between;
}

footer{
    margin-top: 12px;
}

.esquerda{
    display: flex;
    align-items: center;
}
.direita{
    display: flex;
    align-items: center;
}

.logo {
    height: 100%;
}

body{
    background-color: whitesmoke;
}



.container{
    width: 100vw;
    min-height: 80vh;
    padding-top: 10vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5vh;
}

table{
    width: 90%;
}

tr,li{
    display: flex;
    align-items: center;
    padding: 10px 0px;
    justify-content: space-between;
    border-bottom: 2px solid rgb(74, 74, 74);
}

th,td{
    display: flex;
    align-items: center;
    padding: 10px 0px;
    justify-content: space-evenly;
    
}

.btn{
    background-color: rgb(11, 16, 147);
    text-decoration: none;
    color: whitesmoke;
    font-size: 1.1rem;
    font-weight: 600;
    padding: 7px;
    border-radius: 10px;
}

.btn:hover{
    background-color: rgb(0, 0, 107);
    text-decoration: none;
    color: whitesmoke;
    border-radius: 10px;
}

.btnv{
    background-color: rgb(255, 223, 154);
    text-decoration: none;
    color: rgb(0, 0, 0);
    padding: 2px;
    margin: 2px;
    border-radius: 8px;
    border: 1px solid rgba(0, 0, 0, 0.4);
    width: 5vw;
}

.btnv:hover{
    background-color: rgb(209, 182, 125);
    text-decoration: none;
    color: rgb(0, 0, 0);
    padding: 2px;
    margin: 2px;
    border-radius: 8px;
}

ul{
    list-style: none;
}

.form{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: rgb(194, 223, 255);
    padding: 30px;
    width: 30vw;
    border-radius: 10px;
    border: 2px solid rgb(109, 159, 215);
    box-shadow: 6px 6px 6px 6px rgba(188, 180, 180, 0.5);
}

form>p{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
   

}
input {
    background-color: rgb(255, 255, 255);
    border: 1px solid rgb(0, 0, 0);
    border-radius: 5px;
}

.logo{
    width: 11vw;
    height: 10vh;
}

.btnacesso{
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.back{
    background-color: rgb(65, 76, 194);
    text-decoration: none;
    color:rgb(0, 0, 0);
    padding: 10px;
    border: 1px solid black;
    border-radius: 10px;
    font-weight: 500;
    color: rgb(255, 255, 255);
}
label{
    font-size: 1rem;
    margin-bottom: 6px;
    margin-top: 6px;
    font-weight: 600;
    color: rgb(0, 0, 0);
}
select{
    border: 1px solid black;
    border-radius: 4px;
    background-color: rgb(255, 223, 154);
}
.milena{
    background-image: url("/static/img/milenasoro.png");
    background-repeat: no-repeat;
    background-size: 40%;
    background-position: 80%;
}
.perfil{
    width:4.5vw;
    height: 4vw;
}
.icon{
    width:40px;
    height: 40px;
}
i{
    font-size: 1.5rem;
    color:rgb(0, 0, 0); 
}
.senai{
    display: flex;
    justify-content:space-between;
    display:flex;
    align-items: center;
}
