{% extends 'base.html' %}
{% block title %}Lista de Categorias{% endblock %}
{% block content %}
<div class="espaco"></div>
<h2>Lista de Categorias</h2>

    <form class="cardlist" method="post">
    {% for categoria in object_list %}
    <div class="cate">{{ categoria.nome }} <a href="{% url 'categoria_update' categoria.pk %}"><i class="bi bi-pencil-square"></i></a><a href="{% url 'categoria_delete' categoria.pk %}"> <i class="bi bi-trash"></i></a></div>
    {% endfor %}

<a class="btn" href="{% url 'categoria_create' %}">Nova Categoria</a>
{% endblock %}