{% extends 'base.html' %}
{% block title %}Perfil{% endblock %}
{% block content %}
<div class="table-container">
    
    <div class="headline">
        <h1>TeckStock Solutions</h1>
    </div>
    <div class ="text">
         <h2>SEJA BEM-VINDO!</h2>
         <p>TechStock Solutions é uma plataforma inovadora para gestão de estoques, permitindo o registro de produtos, o controle de movimentações e a categorização dos itens. Com soluções práticas e eficientes, a empresa oferece controle total sobre o estoque, ajudando negócios de todos os tamanhos a manter a organização e a precisão nas operações. </p>
    </div>


    <div class="cardlist">
    
        
    {% for produto in produtos %}

    <div class="card">
        <img src="{{produto.imagem.url}}" alt="">
        <h2>{{ produto.nome }}</h2>
         <p>R$ {{ produto.preco }}</p>
        <small>
            {{ produto.saldo|default:"0" }} unidades
        </small>
    </div>
    {% endfor %}

    </div>

</div>
{% endblock %}