<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login do Sistema</title>
    {%load static%} 
    <link rel="stylesheet" href="{%static 'css/login.css'%}">
</head>
<body>
    <header>
        
    </header>

    
    <div class="container">
    <img class="logo" src="{%static 'img/logosite1.png'%}" alt="">
    <h2>Login </h2>
    <form class= "form" method= "post" action="{% url 'login' %}">
        {% csrf_token %}
        {{ form.as_p }}
        <button class="submit" type="submit">Entrar</button> 
    </form>
    </div>
    
    

    <footer>
    <p class ="direitos">Todos os direitos são reservados ® </p>
    </footer>

{% if form.erros %}
    <p>Usuário e/ou senha inválidos!</p>
{% endif %}

</body>
</html>